footer {
    background: #2D2D2D;

    .container {
        .row {
            ul {
                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 19px;
                        color: #fff;
                        transition: all 300ms ease-in-out;

                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }

                .icons {

                    li {

                        &:hover {
                            i {
                                transform: rotateY(360deg);
                                color: var(--main-color);
                            }
                        }

                        i {
                            font-size: 30px;
                            transition: all 400ms ease-in-out;


                        }
                    }
                }
            }

            .logo {
                h1 {
                    font-size: 35px;
                    padding-bottom: 0px;
                    padding-left: 10px;
                    margin: 0;
                    color: #fff;
                    font-weight: 400;
                    font-family: 'Ubuntu';


                    span {
                        color: var(--main-color);
                    }
                }
            }
        }

        .footer-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.284);

            .logo {
                img {
                    width: 40px;
                }
            }
        }
    }
}